{% extends "base.html" %}
{% block menu %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/profile/index">Cabinet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li $insert1><a href="/profile/index">Профиль</a></li>
                <li $insert2><a href="/list/index">Список пользователей</a></li>
                <li $insert3><a href="/filelist/index">Список файлов</a></li>
                <li $insert0><a href="/reg/exit">Выход</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="container">
    {% for error in data%}
    {{ error }}
    {% endfor %}
    <table class="table table-bordered">
        <tr>
            <th>Пользователь(логин)</th>
            <th>Имя</th>
            <th>возраст</th>
            <th>описание</th>
            <th>Фотография</th>
            <th>Действия</th>
        </tr>
{% for row in rows %}
        <tr>
            <td>{{ row['member_login'] }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.age }}</td>
            <td>{{ row.description }}</td>
            {% if row.photo != null %}
            <td><img src='/photos/{{ row.photo }}' alt='{{ row.photo }}'></td>
            {% else %}
            <td>NO IMAGE</td>
            {% endif %}
            <!--
        if ($photo !== null) {
            echo "<td><img src='/photos/$photo' alt=''></td>";
        } else {
            echo "<td>NO IMAGE</td>";
        } -->


            <td>
                <a href="/list/delete/{{ row['member_login'] }}">Удалить пользователя</a>
            </td>
        </tr>
{% endfor %}
    </table>
</div><!-- /.container -->
{% endblock %}